.category{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5.625rem 2.5rem;
    text-align: center;
    &__title{
        font-size: 4.375rem;
        font-weight: bold;
       @include breakpoint-down(small){
        font-size: 2.5rem;
        line-height: 1.3;
       }
    }
    &__subtitle{
        max-width: 53.125rem;
        font-size: 1.5rem;
        margin-bottom: .625rem;
        @include breakpoint-down(medium){
            font-size: 1rem;
            max-width: 30rem;
        }
    }
    &__covers{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.25rem;
        margin-top: 2.5rem;
        @include breakpoint-up(medium){
            grid-template-columns:repeat(2,1fr );
        }
        @include breakpoint-up(large){
            grid-template-columns:repeat( 4,1fr);
        }
        > div{
            height: 31.25rem;
            width: 18.75rem;
            position: relative;
        }
    
        .cover-1 {
            background: url('/images/cover-1.jpg') no-repeat center center / cover;
          }
          .cover-2 {
            background: url('/images//cover-2.jpg') no-repeat center center / cover;
          }
          .cover-3 {
            background: url('/images/cover-3.jpg') no-repeat center center / cover;
          }
          .cover-4 {
            background: url('/images/cover-4.jpg') no-repeat center center / cover;
          }
        .cover{
            &__bg{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    156.82deg,
                    rgba(0, 0, 0, 0.6) 4.58%,
                    rgba(0, 0, 0, 0) 69.61%
                  ),
                  linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
    
            }
            &__text{
                position: absolute;
                top: 1.25rem;
                left: 1.25rem;
                text-align: left;
            }
        }
      
    }
    
}
